ReportingSystem.Web/obj/
ReportingSystem.Web/bin/
ReportingSystem.Tests/obj/
ReportingSystem.Shared/obj/
ReportingSystem.AzureStorage/obj/
ReportingSystem.Logic/obj/
ReportingSystem.PowerBI/obj/
.vs/
ReportingSystem.AzureStorage/bin/
ReportingSystem.Shared/bin/
ReportingSystem.Logic/bin/Debug/netcoreapp3.1/ReportingSystem.Shared.dll
ReportingSystem.Logic/bin/
ReportingSystem.PowerBI/bin/
ReportingSystem.Tests/bin/
ReportingSystem.Web/ReportingSystem.Web.csproj.user
ReportingSystem.Tests/ReportingSystem.Tests.csproj.user
